@import url(/css/fonts.css);
@import url(/css/normalize.css);

:root {
    --white-color: #ffffff;
    --red-color: #EF4036;
    --dark-color: #282735;
    --yellow-color: #FCC000;
    --background-gradient: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(56,77,94,1) 0%, rgba(22,28,43,1) 100%);
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: var(--white-color);
    font-family: Open Sans;
    font-weight: 500;
}

header {
    min-height: 100vh;
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(56,77,94,1) 0%, rgba(22,28,43,1) 100%);
}

/*TOP BAR CONTAINER*/

.top-nav-bar-container {
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(56,77,94,1) 0%, rgba(22,28,43,1) 100%);
}

.top-nav-bar-wrapper {
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: .8rem;
    padding: 0 1rem;
}

.contact-information-container {
    display: flex;
    gap: 2rem;
}

.contact-information-container  i {
    border: 1px solid var(--red-color);
    padding: .5rem;
    border-radius: 50%;
    color: var(--red-color);
    margin-right: 5px;
}

.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.signup-container a {
    text-decoration: none;
    color: inherit;
    justify-content: center;
}

.signup-container > button {
    border: none;
    background-color: var(--red-color);
    padding: .8rem;
    color: var(--white-color);
    cursor: pointer;
    transition: transform .25s ease-in-out;
}

.signup-container > button:hover {
    transform: scale(1.4);
}

.signup-container  i {
    font-size: 1.1rem;
}

/* HEADER-BACKGROUND-SLIDE*/
.header-background-container {
    height: 100%;
}

.header-background-slide-container {
    height: 100%;
    position: relative;
    overflow: hidden;
    
}

.slider-container {
    height: 100vh;
    width: 500%;
    display: flex;
    clip-path: polygon(0 0, 100% 0, 100% 74%, 0% 100%);
}

.header-background-slide-container input[type="radio"] {
    display: none;
}

.slide {
    width: 20%;
    transition: 2s;
}

.slide img {
    height: 100%;
    width: 100vw;
    object-fit: cover;
}

.radio-slide-label-container {
    position: absolute;
    bottom: 10rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 2rem;
}

.manual-btn {
    width: 50px;
    height: 5px;
    border-radius: 1000000px;
    background-color: rgba(255,255,255,.4);
    cursor: pointer;
}

.manual-btn:hover {
    background-color: rgba(255,255,255,.9);
}




#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -20%;
}

#radio3:checked ~ .first {
    margin-left: -40%;
}





.header-navbar-container {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background-color: rgba(255,255,255,.1);
}

.header-navbar-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1500px;
    padding: 0 1rem;
    margin: 0 auto;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.logo-container > i {
    font-size: 5rem;
    color: var(--red-color);
}

.logo-content > div:first-child {
    font-size: 1.6rem;
}

.logo-content span {
    color: var(--red-color);
}

.logo-content > div:last-child {
    font-size: .8rem;
}

.nav-links-container {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.nav-links-container a {
    text-decoration: none;
    color: var(--white-color);
    transition: color .25s ease-in-out;
}

.nav-links-container > li:hover > a {
    color: var(--red-color);
}

.search-container {
    border: 1px solid var(--white-color);
    padding: .8rem;
    border-radius: 5px;
    display: flex;
    gap: 1rem;
}

.search-container > input {
    background: transparent;
    border: none;
    outline: none;
    color: var(--white-color);
}

.search-container > input::placeholder {
    color: var(--white-color);
    opacity: 1;
    font-style: italic;
}





.header-disc-container {
    position: absolute;
    display: flex;
    align-items: center;
    height: 300px;
    width: 550px;
    top: 50%;
}

.header-disc-container > img {
    height: 300px;
    width: auto;
}

.disc-content-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.disc-content-header {
    font-size: 1.5rem;
    font-weight: 700;
}

.disc-content-header > span {
    font-size: .8rem;
    padding: .4rem;
    background-color: #EF4036;
    margin-left: .5rem;
}

.disc-content-header + div {
    font-size: .7rem;
}

.disc-content-info > button {
    background: transparent;
    border: 1px solid var(--white-color);
    color: var(--white-color);
    padding: 1rem;
    width: 200px;
    font-weight: 600;
    cursor: pointer;
}










/* SECTION CONTENT */
section {
    height: 100vh;
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(56,77,94,1) 0%, rgba(22,28,43,1) 100%);
    position: relative;
}

.content-section-container {
    height: 100%;
}

.content-section-wrapper {
    min-height: 100vh;    
    max-width: 1500px;
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: -10rem;
    left: 50%;
    transform: translateX(-50%);
}


.info-container {
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(56,77,94,1) 0%, rgba(22,28,43,1) 100%);
    clip-path: polygon(0 7%, 100% 0, 100% 100%, 0% 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    padding: 5rem;
    width: 100%;
    min-height: 50vh;
}

.content-choices-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2rem;
}

.choice-item-icon-container {
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
    background-color: var(--red-color);
    width: 50px;
    height: 50px;
    display: grid;
    place-items: center;
    color: var(--dark-color);
}

.choice-item {
    max-width: 250px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    text-align: center;
}

.choice-item-icon-container > i {
    font-size: 1.3rem;
    margin-top: .6rem;
}

.choice-item span {
    color: var(--red-color);
}

.choice-item > div:last-child {
    font-size: .9rem;
}

.new-release-container {
    min-height: 50vh;
}

.new-release-header-container {
    background-color: black;
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: center;
    padding: 2rem 0;
}

.line-bar {
    width: 50px;
    height: 3px;
    background-color: rgba(255,255,255,.3);
    border-radius: 10000000px;
}

.games-container {
    height: 50vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(56,77,94,1) 0%, rgba(22,28,43,1) 100%);
}

.game-wrapper {
    width: 375px;
    height: 100%;
    position: relative;
    cursor: pointer;
}

.game-wrapper img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: filter .25s ease-in-out;
}

.game-wrapper-info-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.promo-container {
    padding: 1rem;
}

.promo-container > button {
    display: block; 
    padding: .5rem;
    border: none;
    color: inherit;
    font-family: inherit;
    font-weight: 700;
    font-style: italic;
    font-size: 1rem;
}

.price-btn {
    background-color: var(--red-color);
}

.discount-btn {
    margin-top: 5px;
    background-color: var(--yellow-color);
}

.game-info {
    clip-path: polygon(0 14%, 100% 0, 100% 100%, 0% 100%);
    background-color: var(--white-color);
    color: var(--dark-color);
    padding: 2rem 1rem 1rem 1rem;
    opacity: 0;
    transition: opacity .25s ease-in-out;
}

.game-wrapper:hover img {
    filter: blur(10px);
}

.game-wrapper:hover .game-info {
    opacity: 1;
}










.footer-container {
    background: black;
    min-height: 50vh;
}











@media (max-width: 1000px) {
    .header-navbar-wrapper {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
}

@media (max-width: 770px) {
    .games-container {
        padding: 0 1rem;
    }

    .game-wrapper {
        width: 100%;
    }
}


@media (max-width: 710px) {
    .content-section-wrapper {
        top: -10rem;
    }
    
    .info-container {
        padding: 5rem 1rem;
    }

    .info-container > h4 {
        text-align: center;
    }
}

@media (max-width: 600px) {
    .top-nav-bar-wrapper {
        flex-direction: column;
    }
}

@media (max-width: 530px) {
    .nav-links-container {
        gap: 1rem;
        font-size: .8rem;
    }

    .header-disc-container {
        flex-direction: column;
        width: 100%;
        justify-content: center;
        padding: 1rem;
        transform: translateY(-50%);
    }

    .header-disc-container > img {
        height: 200px;
    }
}